body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:61px;
  width:117px;
  height:66px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:113px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:158px;
  width:117px;
  height:66px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:113px;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:127px;
  width:0px;
  height:0px;
}
#u2_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u2_seg1 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:9px;
  width:174px;
  height:8px;
}
#u2_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:9px;
  width:8px;
  height:22px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:158px;
  width:117px;
  height:66px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:113px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:127px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:158px;
  width:117px;
  height:66px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:113px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:127px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:9px;
  width:175px;
  height:8px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:9px;
  width:8px;
  height:22px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:249px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:234px;
  width:117px;
  height:249px;
  line-height:28px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:113px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:249px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:234px;
  width:117px;
  height:249px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:113px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:249px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:234px;
  width:117px;
  height:249px;
  line-height:28px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
